<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>PDF-to-EPUB-Converter</display-name>
  <servlet>
    <servlet-name>upload</servlet-name>
    <servlet-class>load.UpLoad</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upload</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>send</servlet-name>
    <servlet-class>load.Do</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>send</servlet-name>
    <url-pattern>/send</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>convert</servlet-name>
    <servlet-class>load.ConvertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>convert</servlet-name>
    <url-pattern>/convert</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>down</servlet-name>
    <servlet-class>load.DownLoadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>down</servlet-name>
    <url-pattern>/down</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
</web-app>